h1.title {
    text-align: center;
    margin: 0 auto;
    width: 100%;
  }
  
p, h1, h2, h3, h4, h5, h6 {
    text-align: justify;
}

/* CSS to center images horizontally */
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


